.container__bottom button {
    width : 100%;
    padding : 10px;
    background: #A149FA;
    border-radius: 10px;
    border: none;
    color: white;
}

.container__bottom {
    padding: 40px 0;
}

.article {
    border-bottom: solid #eeeeee;
}

button#dt-pst-btn {}

button {}